<%- include('partials/header') %>


    <head>

    </head>

    <body onload="FormatText();">

          <div class="container-fluid" style="background-color: aqua; border:5px double black;">
              <div class="row content">
                
            
                <div class="col-sm-9">
                
                  <hr>
                  <h1 style="background-color:yellow; text-align : center; border: 3px solid green;" >

                    <%= content[id].title %>
                </h1>
                  <p style="background-color:brown"><span class="glyphicon glyphicon-time"></span> <span style="color:white;">Viewed At: &nbsp &nbsp </span><%= today %>.</p>
                  <h5 style="color: red;"> Tag: <span class="label label-danger"><%= content[id].type %></span></h5>
                  <h5 > Like: <i class="fa-solid fa-heart"></i> <span onClick="incLike()" class="label label-danger"><%= content[id].upvote %></span> </h5>
                  <div style=" border:5px double red;">
                  <p id="mytext">
                    <%= content[id].content %>
                </div>
                </p>
                  <br><br>
                  <h5 style="color: blue;"> Author: <span class="label label-danger"><%= content[id].author %></span></h5>
                </div>
              </div>
            </div>
                  
                  
            
                  <script type="text/javascript">

                    function FormatText() {
                        var txt = document.getElementById("mytext").innerHTML;
                        var matches = txt.match(/#\w+/g);
                        if (matches == null)
                            return;
        
                        for (i = 0; i < matches.length; i++) {
                            txt = txt.replace(matches[i], "<b>" + matches[i] + "</b>")
                        }
                        document.getElementById("mytext").innerHTML = txt;
        
                    }
                    console.log("hii");
                    function incLike(){
                      console.log("Like ++");
                    }
                </script>
    </body>

       

       
        
        
    
    <%- include('partials/footer') %>